<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spnotes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/spnotes_logo"
        android:label="Sp Notes"
        android:roundIcon="@drawable/spnotes_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HalDuaActivity"/>
        <activity android:name=".HalTigaActivity"/>
        <activity android:name=".HalEmpatActivity"/>
        <activity android:name=".HalSatuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>